footer {
    >.foot-div1 {
        text-align: center;
        padding: 2% 0;
        background-color: rgb(195, 224, 255);

        >.search-box2 {
            width: 40%;
            margin: 1% auto;
            position: relative;

            >input {
                padding: 12px 5px;
                border: 1px solid gray;
                border-radius: 50px;
                width: 100%;
                font-size: 17px;
            }

            >.subscribe-button {
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                border-radius: 50px;
                padding: 8px 12px;
                cursor: pointer;
            }
        }
    }
    >.foot-div2 {
        text-align: center;
        background-color: royalblue;
        padding: 2%;
    }
}