footer {
    >.foot-div1 {
        text-align: center;
        padding: 2% 0;
        background-color: rgb(195, 224, 255);

        >.search-box2 {
            width: 40%;
            margin: 1% auto;
            position: relative;

            >input {
                padding: 12px 5px;
                border: 1px solid gray;
                border-radius: 50px;
                width: 100%;
                font-size: 17px;
            }

            >.subscribe-button {
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                border-radius: 50px;
                padding: 8px 12px;
                cursor: pointer;
            }
        }
    }

    >.foot-div2 {
        text-align: center;
        background-color: royalblue;
        padding: 2%;
    }

    >.foot-div3 {
        display: flex;
        background-color: blue;
        height: 50vh;
        

        >.foot-div3-d1 {
            width: 30vw;
            height: 100%;
            background-color: darkblue;
            margin-left: 50px;
            // text-align: center;
            position: relative;

            >div {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);

                >.p {
                    
                    background-color: chocolate;
                    margin: 0 70px;
                    border-radius: 10px;

                    >p {
                        color: white;
                        font-size: 36px;
                        padding: 20px 0px;
                        text-align: center;
                        margin-bottom: 30px;
                        

                    }

                }
                >button {
                    border: none;
                    padding: 15px 20px;
                    border-radius: 40px;
                    background-color: blue;
                    color: white;
                    font-size: 18px;
                }
            }
        }
        >.foot-div3-d2 {
            width: 60%;
            display: flex;
            justify-content: center;
            margin-top: 2%;
            gap: 180px;
            >ul  {
                > li {
                margin: 15px 0;
                
            }
                >.sotial>i {
                    font-size: 24px;
                    margin-right: 10px;
                }
            }
        }

    }
    >.foot-div4 {
        background-color: rgb(28, 28, 28);
    }
}