header {
    >nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;

        >h1 {
            font-size: 42px;
            color: chocolate;
            // margin: 0 10px;
        }

        >.categories {
            display: flex;
            // margin: 0 10px;
            align-items: center;

            >i {
                font-size: 24px;
                margin-right: 5px;
            }
        }

        >.search-box {
            width: 55%;
            position: relative;
            >input {
                padding: 15px 5px;
                border-radius: 50px;
                width: 100%;
                // margin: 0 10px;
                font-size: 17px;
            }
            >.search-icon {
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
                background-color: chocolate;
                border-radius: 50px;
                padding: 5px 9px;
                >i {
                    margin-top: 3px;
                }
            }
        }
        >.sign-in {
            margin-left: 1%;
            font-size: 18px;
        }
        >span {
            >i {
                font-size: 26px;
                // margin: 0 12px;
            }
        }
        .categories:hover,
        span:hover {
            background-color: rgb(194, 194, 194);
            border-radius: 30px;
            padding: 5px;
            cursor: pointer;
            
        }
        .sign-in:hover {
            background-color: rgb(194, 194, 194);
            border-radius: 30px;
            padding: 8px 12px;
            cursor: pointer;
        }
    }
}