header {
    padding-bottom: 1%;
    border-bottom: 2px rgb(194, 194, 194) solid;
    margin-bottom: 700px;
    >nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;

        >h1 {
            font-size: 42px;
            color: chocolate;
            // margin: 0 10px;
        }

        >.categories {
            display: flex;
            // margin: 0 10px;
            align-items: center;
            padding: 5px;   

            >i {
                font-size: 24px;
                margin-right: 5px;
            }
        }

        >.search-box {
            width: 55%;
            position: relative;

            >input {
                padding: 12px 5px;
                border-radius: 50px;
                width: 100%;
                // margin: 0 10px;
                font-size: 17px;
            }

            >.search-icon {
                position: absolute;
                right: 4px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 24px;
                background-color: chocolate;
                border-radius: 50px;
                padding: 5px 9px;
                
                cursor: pointer;
                >i {
                    margin-top: 3px;
                    color: white;
                }
            }
        }

        >.sign-in {
            margin-left: 1%;
            font-size: 18px;
            padding: 8px 12px;
        }

        >span {
            >i {
                font-size: 26px;
                padding: 5px;
                // margin: 0 12px;
            }
        }

        .categories:hover,
        span:hover {
            background-color: rgb(194, 194, 194);
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .sign-in:hover {
            background-color: rgb(194, 194, 194);
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }

    >div {
        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            
            >li {
                margin: 0 1%;
                >a {
                padding: 8px 12px;
            }
            }
            
            >li>a>i {
                font-size: 18px;
            }
            li>a:hover {
                background-color: rgb(194, 194, 194);
                border-radius: 30px;
                transition: all 0.7s ease;
                margin-top: 0px;
                cursor: pointer;
            }
        }
    }
}