.sec8 {
    margin: 2% 6%;

    >h3 {
        font-size: 24px;
        margin: 20px 0;
    }

    >.sec8-div {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        gap: 15px;
        padding: 1% 1%;
        

        >.sec8-div-d {
            min-width: 250px;
            height: 50vh;
            border: 1px solid rgb(219, 219, 219);
            border-radius: 20px;
            overflow: hidden;

            >img {
                width: 100%;
                height: 65%;
            }

            >p {
                margin: 1% 0 2% 3%;
            }

            >.sec8-div-d-price {
                display: flex;
                margin-left: 3%;

                >p {
                    margin-right: 12%;
                    font-size: 18px;
                    font-weight: bold;
                }

                >span {
                    background-color: rgba(155, 212, 70, 0.816);
                    font-size: 14px;
                    padding: 2px 6px;
                    border-radius: 20px;
                }
            }
        }
        >.sec8-div-d:hover {
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

}
@media only screen and (max-width:900px) {
    .sec8 {
        >.sec8-div {
            >.sec8-div-d {
                min-width: 220px;
                font-size: 14px;
                >p {
                    font-size: 14px;
                }
                >.sec8-div-d-price {
                    >p {
                        font-size: 14px;
                    }
                    >span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}