.sec9 {
    width: 86%;
    margin: 2% 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    >.sec9-div1 {
        grid-column: span 2;
        text-align: center;
        margin: auto 0;

        >h3 {
            font-size: 24px;
            margin-bottom: 2%;
        }

        >p {
            margin-bottom: 1%;
        }

        >button {

            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            margin-top: 1%;
            border: none;
            border-radius: 20px;
        }

        >button:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.2s ease;
        }
    }

    >.sec9-div2 {
        border-radius: 20px;
        overflow: hidden;
        height: 50vh;
        position: relative;

        >img {
            width: 100%;
            height: 100%;
        }

        >i {
            position: absolute;
            top: 87%;
            left: 85%;
            font-size: 24px;
            background-color: white;
            padding: 2px;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width:1200px) {
    .sec9 {
        >.sec9-div2 {
            height: 40vh;
            >i {
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-width:900px) {
    .sec9 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 7%;
        >.sec9-div1 {
            >h3 {
                font-size: 20px;
            }
            >button {
                font-size: 14px;
            }
            >p {
                font-size: 12px;
            }
        }
        >.sec9-div2 {
            height: 30vh;
            >i {
                font-size: 14px;
            }
        }
    }
}