.sec5 {
    // width: 90%;
    margin: 2% 5%;

    >.sec5-div {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        width: 96%;
        margin: 2%;

        >.sec5-div-d {
            position: relative;

            >img {
                width: 100%;
                height: 20vh;
                border-radius: 15px;
            }

            >div {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: white;
                color: black;
                font-size: 14px;
                padding: 2px 10px;
                border-radius: 15px;
                border: 1px solid black;
            }

            >i {
                position: absolute;
                top: 5%;
                left: 83%;
                background-color: white;
                border-radius: 20px;
                padding: 6px 6px;
                cursor: pointer;
            }

            >.active1-heart-sec5 {
                background-color: red;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .sec5 {
        width: 90%;
        margin: 5%;
        >.sec5-div {
            grid-template-columns: repeat(3 , 1fr);
            >.sec5-div-d {
                >img {
                    height: 35vh;
                }
                >div {
                    font-size: 16px;
                    padding: 2px 6px;
                }
                >i {
                    font-size: 18px;
                    left: 88%;
                    padding: 6px;
                }
            }
        }
    }
}

@media only screen and (max-width:900px) {
    .sec5 {
        width: 90%;
        margin: 5%;
        >.sec5-div {
            grid-template-columns: repeat(2 , 1fr);
            >.sec5-div-d {
                >img {
                    height: 25vh;
                }
                >div {
                    font-size: 12px;
                    padding: 2px 6px;
                }
                >i {
                    font-size: 16px;
                    left: 80%;
                    padding: 4px;
                }
            }
        }
    }
}