.sec1 {
    width: 90%;
    display: flex;
    margin: 2% 7%;

    >.sec1-div1 {
        width: 62%;
        display: flex;
        border-radius: 30px;
        overflow: hidden;   


        >.sec1-div1-d1 {
            width: 50%;
            // margin-left: 5%;
            background-color: rgb(9, 81, 117);
            overflow: hidden;

            >h2 {
                color: white;
                padding: 10px 0;
                text-align: center;
                font-size: 48px;
                margin-top: 12%;
            }

            >p {
                color: white;
                text-align: center;
                font-size: 20px;
                padding: 0 10px;
            }

            >button {
                display: block;
                margin: 20px auto;
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 30px;
                border: none;
                background-color: white;
                color: black;
                cursor: pointer;
            }
        }

        >.sec1-div1-d2 {
            width: 50%;
            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;   
                border-radius: 0 30px 30px 0;
            }
        }
    }

    >.sec1-div2 {
        width: 32%;
        
        
        >.sec1-div2-d {
            width: 100%;
            position: relative;
            >img {
                width: 100%;
                border-radius: 30px;
                margin-left: 4%;
            }

            >.sec1-div2-d-d {
                position: absolute;
                bottom: 10%;
                left: 10%;
                font-size: 24px;
                >h3 {
                    color: white;
                    font-family: Arial
                }
                >p {
                    color: white;
                    font-family: Arial;
                }
            }
        }
    }
}

@media only screen and (max-width:1250px) {  
    .sec1 {
        >.sec1-div1 {
            width: 94%;
            height: 40vh;
            >.sec1-div1-d1 {
            >h2 {
                font-size: 28px;
            }
            >p {
                font-size: 16px;
            }
            >button {
                font-size: 16px;
            }
        }
        }
        >.sec1-div2 {
            display: none;
        }
    }
}