.sec11 {
    width: 86%;
    margin: 2% 7%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2%;

    >.sec11-div1 {
        grid-column: span 3;
        text-align: center;
        margin: auto 0;

        >h3 {
            font-size: 24px;
            margin-bottom: 2%;
        }

        >button {

            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            margin-top: 1%;
            border: none;
            border-radius: 20px;
        }

        >button:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.2s ease;
        }
    }

    >.sec11-div2 {
        grid-column: span 2;
        width: 100%;
        height: 60vh;
        position: relative;

        >.sec11-img {
            width: 100%;
            height: 80%;
            border-radius: 15px;
            object-fit: cover;
        }

        >.sec11-brand {
            width: 30%;
            height: 11vh;
            border: 1px gray solid;
            border-radius: 100px;
            object-fit: cover;
            position: absolute;
            z-index: 2;
            top: 70%;
            left: 35%;

        }

        >p {
            text-align: center;
            margin-top: 15%;
            font-size: 18px;
        }
    }

    >.sec11-div2:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: all 0.5s ease;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
    }
}

@media only screen and (max-width:900px) {
    .sec11 {
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
        margin-bottom: 8%;

        >.sec11-div1 {
            grid-column: span 4;
            >h3 {
                font-size: 18px;
            }
            >button {
                font-size: 14px;
            }
        }
        >.sec11-div2 {
            height: 42vh;
            >.sec11-brand {
                height: 8vh;
            }
            >p {
                font-size: 14px;
            }
        }
    }

}