.sec2 {
    width: 88%;
    margin: 4%;
    margin: 0 auto;

    >h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    >.sec2-d {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1%;
        padding: 5px;

        >div {
            text-align: center;
            padding: 10px;

            >img {
                width: 100%;
                border-radius: 20px;
            }

            >p {
                margin-top: 10px;
                font-size: 18px;
            }

            >span {
                font-size: 16px;
                color: gray;
            }
        }

        >div:hover {
            cursor: pointer;
            transform: scale(1.02);
            transition: all 0.5s ease;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;
        }
    }
}

@media only screen and (max-width:900px) {
    .sec2 {
        >.sec2-d {
            grid-template-columns: repeat(2, 1fr);

            >div {
                padding: 7px;

                >p {
                    margin-top: 7px;
                    font-size: 16px;
                }

                >span {
                    font-size: 14px;
                    color: gray;
                }
            }
        }
    }
}