*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@import '_header','_section1','_section2','_section3','_section4','_section6','_section7','_section8','_section9','_section10','_section11','_section12','_footer';
@import '_section5';