//  .title{
 
//   >h2{
//     font-size:2em;
   
//   }
//  }
 section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:50px 0px 50px 0px  ;  
    >div{
        width:22vw;
        height: 450px;
        background-color:rgb(255, 251, 251);
        margin:50px auto;
        position: relative;
       
          >img{
            width: 100%;
            height: 80%;
            object-fit: cover;
            transition: all 0.5s;
            >img:hover{
              
          }
          >p{
            font-size:0.9rem;
            padding: 1%;
          }
          >.p2{
            font-size: 0.8rem;
            color: rgb(49, 47, 47);
          }
          >.star{
            font-size: 0.9rem;
            position: absolute;
            right: 1%;
            bottom: 15%;
          }
          >h4{
            display: inline;
            font-size: 1.2rem;
            padding-top: 2%;
            color: rgb(32, 31, 31);
          }
          >ins{
            text-decoration: line-through;
            color: rgb(49, 47, 47);
            font-size: 0.9rem;
          }
          >del{
             color: rgb(49, 47, 47);
              font-size: 0.9rem;
          }
          
          }
          >.heart{
            display: none;
            position: absolute;
            right: 2%;
            top: 1%;
            background-color: white;

            width: 12%;
            height: 8%;
            border-radius: 50%;
          >i{
            font-size: 1.2rem;
            padding: 25% 25% ;
          }
            }
          >.arrow{
            position: absolute;
            right: 2%;
            bottom: 23%;
            background-color: white;

            width: 12%;
            height: 8%;
            border-radius: 50%;
          >i{
            font-size: 1.2rem;
            padding: 25% 25% ;
          }
          }
    }
    div:hover{
      >.heart{
        display: inline;
      }
    }
 }