 .title{
   width: 90%;
   height: 20vh;
   margin: 0px 50px 0px 50px ;
  position: relative;
  >h2{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size:2em;
    letter-spacing: 2px;
   
  }
  >.btn{
    width: 80%;
    height: 6vh;
    position: absolute;
    top: 36%;
    left: 6px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    gap: 24px;
    >button{
      padding:8px 12px;
      background-color: white;
      border:2px solid rgb(133, 120, 120);
      border-radius: 18px;
      >button:hover{
        background-color:rgb(224, 215, 215);
        cursor: pointer;
      }
      >i{
        font-size:18px;
      }
    }
  }
 }
 section{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin: 0px 60px;    
    >div{
        width:22vw;
        height: 450px;
        // background-color:rgb(251, 251, 251);
        margin:50px auto;
        position: relative;
        transition: all 0.3s;
       
          >img{
            width: 100%;
            height: 80%;
            object-fit: cover;
            transition: all 0.5s;
          
          >p{
            font-size:0.9rem;
            padding: 1%;
          }
          >.p2{
            font-size: 0.8rem;
            color: rgb(49, 47, 47);
          }
          >.star-i{
            font-size: 0.9rem;
            position: absolute;
            right: 1%;
            bottom: 15%;
          }
          >h4{
            display: inline;
            font-size: 1.2rem;
            padding-top: 2%;
            color: rgb(32, 31, 31);
          }
          >ins{
            text-decoration: line-through;
            color: rgb(49, 47, 47);
            font-size: 0.9rem;
          }
          >del{
             color: rgb(49, 47, 47);
              font-size: 0.9rem;
          }
          
          }
          >.heart{
            display: none;
            position: absolute;
            right: 2%;
            top: 1%;
            background-color: white;

            width: 12%;
            height: 8%;
            border-radius: 50%;
          >i{
            font-size: 1.2rem;
            padding: 25% 25% ;
          }
            }
          >.arrow{
            position: absolute;
            right: 3%;
            bottom: 24%;
            background-color: white;

            width: 12%;
            height: 8%;
            border-radius: 50%;
          >i{
            font-size: 1.2rem;
            padding: 25% 25% ;
          }
          }
    }
    div:hover{
      >.heart{
        display: inline;
      }
      >.arrow{
        display: none;
      }
    }

 }
 @media only screen and (max-width:900px){
 .title{
  >h2{
    left: 34%;
    font-size: 2rem;
  }
 }
 section{
  grid-template-columns: repeat(3,1fr);
  >div{
    width:29vw;
    
  
  }
 }
 }

 @media only screen and (max-width:700px){
  .title{
  >h2{
    left: 30%;
    font-size: 2rem;
  }
 }
  section{
  grid-template-columns: repeat(3,1fr);
  margin-right: 25%; 
  >div{
    width:30vw;
    height: 400px;
  }
 }
 
}
@media only screen and (max-width:500px){
  .title{
  >h2{
    left: 18%;
    font-size: 1.6rem;
  }
 }
   section{
  grid-template-columns: repeat(2,1fr);
  margin-right: 25%;
  gap: 28px; 
  margin: auto;
  >div{
    width:40vw;
    height: 400px;
    >.heart{
      >i{
        font-size: 14px;
      }
      >.arrow{
        padding: 8px 10px;
        i>{
          font-size: 6px;
        }
      }
    }
  }
 }
 >button{
      padding:8px 20px;
    }
 
}