*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

@import '_header','_product','_footer';